/* prettier-ignore */
@import url('normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
  --brand-color: #f0decc;
  --secondary-color: chocolate;
  --shadow-color: rgba(37, 41, 4, 0.5);
  --box-shadow: -5px 5px 5px var(--shadow-color);
}

body {
  /* font-style: italic; */
  margin: 0;
  padding: 0;
  background-color: var(--brand-color);
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  text-align: center;
}

h1,
h2 {
  font-family: 'Indie Flower', cursive;
  text-shadow: -2px 5px 5px var(--secondary-color);
}

img {
  display: block;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

#contacts {
  margin-top: 20px;
}

#logo {
  margin: 10px;
  width: 50px;
  border-radius: 20px 50px 50px 20px;
  margin-bottom: 10px;
}

header {
  height: 70px;
  display: flex;
  align-items: center;
  z-index: 1;
  background: var(--brand-color);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: var(--box-shadow);
}

header p {
  padding-left: 10px;
}

main {
  padding: 10px;
  margin-top: 70px;
  position: relative;
}

footer {
  padding: 10px;
  margin-top: 20px;
}

.navigation ul,
.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, max-content);
}

.navigation li,
.footer li {
  margin: 0;
}

.navigation a,
.footer a {
  display: block;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: #333;
  transition: background-color 0.3s ease;
}

.navigation a:focus,
.navigation a:hover {
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}
